In [1]:
import pandas as pd
import numpy as np

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2022"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [3]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\1752420719.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [4]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '88a8684a8e00e52d426f3128553555c0'

In [5]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [6]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [7]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.,genres
0,1.0,Top Gun: Maverick,Paramount,"$718,732,821",NaN,NaN,NaN,NaN,NaN,NaN,Action Drama
1,2.0,Avatar: The Way of Water*,20th Century / Disney,"$684,045,000",NaN,NaN,NaN,NaN,NaN,NaN,Science Fiction Adventure Action
2,3.0,Black Panther: Wakanda Forever,Disney,"$453,829,060",NaN,NaN,NaN,NaN,NaN,NaN,Action Adventure Science Fiction
3,4.0,Doctor Strange in the Multiverse of Madness,Disney,"$411,331,607",NaN,NaN,NaN,NaN,NaN,NaN,Fantasy Action Adventure
4,5.0,Jurassic World Dominion,Universal,"$376,851,080",NaN,NaN,NaN,NaN,NaN,NaN,Adventure Action Science Fiction
...,...,...,...,...,...,...,...,...,...,...,...
235,NaN,Luckiest Girl Alive,NaN,NaN,S E P T E M B E R,30.0,Netflix / Made Up Stories,Mike Barker (director); Jessica Knoll (screenp...,NaN,[181],Drama Thriller Mystery
236,NaN,God's Creatures,NaN,NaN,S E P T E M B E R,30.0,A24 / BBC Film / Screen Ireland,"Saela Davis, Anna Rose Holmer (directors); Sha...",NaN,[199],Drama
237,NaN,Dead for a Dollar,NaN,NaN,S E P T E M B E R,30.0,Quiver Distribution / Myriad Pictures,Walter Hill (director/screenplay); Christoph W...,NaN,[200],Western Thriller
238,NaN,My Best Friend's Exorcism,NaN,NaN,S E P T E M B E R,30.0,Amazon Studios / Endeavor Content,Damon Thomas (director); Jenna Lamia (screenpl...,NaN,[177],Horror Comedy
239,NaN,Hot Take: The Depp/Heard Trial,NaN,NaN,S E P T E M B E R,30.0,Tubi / MarVista Entertainment,Sara Lohman (director); Guy Nicolucci (screenp...,NaN,[201],Crime Thriller Drama

In [8]:
df_2022 = df.loc[:, ['Title','Cast and crew','genres']]

In [9]:
df_2022

,Title,Cast and crew,genres
0,Top Gun: Maverick,NaN,Action Drama
1,Avatar: The Way of Water*,NaN,Science Fiction Adventure Action
2,Black Panther: Wakanda Forever,NaN,Action Adventure Science Fiction
3,Doctor Strange in the Multiverse of Madness,NaN,Fantasy Action Adventure
4,Jurassic World Dominion,NaN,Adventure Action Science Fiction
...,...,...,...
235,Luckiest Girl Alive,Mike Barker (director); Jessica Knoll (screenp...,Drama Thriller Mystery
236,God's Creatures,"Saela Davis, Anna Rose Holmer (directors); Sha...",Drama
237,Dead for a Dollar,Walter Hill (director/screenplay); Christoph W...,Western Thriller
238,My Best Friend's Exorcism,Damon Thomas (director); Jenna Lamia (screenpl...,Horror Comedy
239,Hot Take: The Depp/Heard Trial,Sara Lohman (director); Guy Nicolucci (screenp...,Crime Thriller Drama

In [15]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    elif " (director/screenplay)" in x:
        return x.split(" (director/screenplay)")[0]
    else:
        return np.NaN

In [11]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [12]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [13]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [17]:
df_2022.isna().sum()

Title             0
Cast and crew    10
genres            1
dtype: int64

In [18]:
df_2022 = df_2022.dropna(how='any')

In [19]:
df_2022.isna().sum()

Title            0
Cast and crew    0
genres           0
dtype: int64

In [20]:
df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(x))

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\1906082619.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['director_name'] = df_2022['Cast and crew'].map(lambda x: get_director(x))

In [21]:
df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(x))

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\487376503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_1_name'] = df_2022['Cast and crew'].map(lambda x: get_actor1(x))

In [22]:
df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(x))

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\4213668404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_2_name'] = df_2022['Cast and crew'].map(lambda x: get_actor2(x))

In [23]:
df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(x))

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\1185580355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022['actor_3_name'] = df_2022['Cast and crew'].map(lambda x: get_actor3(x))

In [24]:
df_2022 = df_2022.rename(columns={'Title':'movie_title'})

In [25]:
new_df22 = df_2022.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [26]:
new_df22['actor_2_name'] = new_df22['actor_2_name'].replace(np.nan, 'unknown')
new_df22['actor_3_name'] = new_df22['actor_3_name'].replace(np.nan, 'unknown')

In [27]:
new_df22['movie_title'] = new_df22['movie_title'].str.lower()

In [28]:
new_df22['comb'] = new_df22['actor_1_name'] + ' ' + new_df22['actor_2_name'] + ' '+ new_df22['actor_3_name'] + ' '+ new_df22['director_name'] +' ' + new_df22['genres']

In [29]:
new_df22

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
10,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,PenÃ©lope Cruz,Action Thriller,the 355,Jessica Chastain Lupita Nyong'o PenÃ©lope Cruz ...
11,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Family Animation Fantasy Horror,the legend of la llorona,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
12,Asif Akbar,Mickey Rourke,Michael Jai White,unknown,Action Crime Thriller,the commando,Mickey Rourke Michael Jai White unknown Asif A...
13,Edward Drake,Timothy V. Murphy,Bruce Willis,unknown,Action Adventure Thriller,american siege,Timothy V. Murphy Bruce Willis unknown Edward ...
14,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,scream,Melissa Barrera Mason Gooding Jenna Ortega Mat...
...,...,...,...,...,...,...,...
235,Mike Barker,Mila Kunis,Finn Wittrock,Scoot McNairy,Drama Thriller Mystery,luckiest girl alive,Mila Kunis Finn Wittrock Scoot McNairy Mike Ba...
236,"Saela Davis, Anna Rose Holmer",Emily Watson,Paul Mescal,Aisling Franciosi,Drama,god's creatures,Emily Watson Paul Mescal Aisling Franciosi Sae...
237,Walter Hill,Christoph Waltz,Willem Dafoe,Rachel Brosnahan,Western Thriller,dead for a dollar,Christoph Waltz Willem Dafoe Rachel Brosnahan ...
238,Damon Thomas,Elsie Fisher,Amiah Miller,Cathy Ang,Horror Comedy,my best friend's exorcism,Elsie Fisher Amiah Miller Cathy Ang Damon Thom...
239,Sara Lohman,Mark Hapka,Megan Davis,Mellisa Marty,Crime Thriller Drama,hot take: the depp/heard trial,Mark Hapka Megan Davis Mellisa Marty Sara Lohm...

In [30]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2023"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [31]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\1752420719.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [32]:
df

,Rank,Title,Distributor,Domestic gross,Opening,Opening.1,Production company,Cast and crew,Ref.
0,1.0,The Super Mario Bros. Movie*,Universal,"$535,959,000",NaN,NaN,NaN,NaN,NaN
1,2.0,Ant-Man and the Wasp: Quantumania*,Disney,"$214,146,000",NaN,NaN,NaN,NaN,NaN
2,3.0,Guardians of the Galaxy Vol. 3*,Disney,"$213,201,000",NaN,NaN,NaN,NaN,NaN
3,4.0,John Wick: Chapter 4*,Lionsgate,"$182,964,089",NaN,NaN,NaN,NaN,NaN
4,5.0,Creed III*,MGM,"$156,213,497",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
181,NaN,The Expendables 4,NaN,NaN,S E P T E M B E R,22.0,Lionsgate / Millennium Media,"Scott Waugh (director); Spenser Cohen, Max Ada...",[109]
182,NaN,The Book of Clarence,NaN,NaN,S E P T E M B E R,22.0,Columbia Pictures / Legendary Entertainment,Jeymes Samuel (director/screenplay); LaKeith S...,[158]
183,NaN,Drive-Away Dolls,NaN,NaN,S E P T E M B E R,22.0,Focus Features / Working Title Films,Ethan Coen (director/screenplay); Tricia Cooke...,[159]
184,NaN,PAW Patrol: The Mighty Movie,NaN,NaN,S E P T E M B E R,29.0,Paramount Pictures / Nickelodeon Movies / Spin...,"Cal Brunker (director); Mckenna Grace, Taraji ...",[160]
185,NaN,The Creator,NaN,NaN,S E P T E M B E R,29.0,20th Century Studios / Regency Enterprises,Gareth Edwards (director/screenplay); John Dav...,[161]

In [33]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [34]:
df_2023 = df.loc[:, ['Title','Cast and crew','genres']]

In [35]:
df_2023

,Title,Cast and crew,genres
0,The Super Mario Bros. Movie*,NaN,Animation Family Adventure Fantasy Comedy
1,Ant-Man and the Wasp: Quantumania*,NaN,Action Adventure Science Fiction
2,Guardians of the Galaxy Vol. 3*,NaN,Science Fiction Adventure Action
3,John Wick: Chapter 4*,NaN,Action Thriller Crime
4,Creed III*,NaN,Drama Action
...,...,...,...
181,The Expendables 4,"Scott Waugh (director); Spenser Cohen, Max Ada...",Action Adventure Thriller War
182,The Book of Clarence,Jeymes Samuel (director/screenplay); LaKeith S...,History Drama
183,Drive-Away Dolls,Ethan Coen (director/screenplay); Tricia Cooke...,Crime Comedy
184,PAW Patrol: The Mighty Movie,"Cal Brunker (director); Mckenna Grace, Taraji ...",Animation Family Comedy
185,The Creator,Gareth Edwards (director/screenplay); John Dav...,Science Fiction Action Thriller

In [36]:
df_2023['director_name'] = df_2023['Cast and crew'].map(lambda x: get_director(str(x)))

In [37]:
df_2023['actor_1_name'] = df_2023['Cast and crew'].map(lambda x: get_actor1(str(x)))

In [38]:
df_2023['actor_2_name'] = df_2023['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [39]:
df_2023['actor_3_name'] = df_2023['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [40]:
df_2023 = df_2023.rename(columns={'Title':'movie_title'})

In [41]:
new_df23 = df_2023.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [42]:
new_df23['actor_2_name'] = new_df23['actor_2_name'].replace(np.nan, 'unknown')
new_df23['actor_3_name'] = new_df23['actor_3_name'].replace(np.nan, 'unknown')

In [43]:
new_df23['movie_title'] = new_df23['movie_title'].str.lower()

In [44]:
new_df23['comb'] = new_df23['actor_1_name'] + ' ' + new_df23['actor_2_name'] + ' '+ new_df23['actor_3_name'] + ' '+ new_df23['director_name'] +' ' + new_df23['genres']

In [45]:
new_df23

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,NaN,nan,unknown,unknown,Animation Family Adventure Fantasy Comedy,the super mario bros. movie*,NaN
1,NaN,nan,unknown,unknown,Action Adventure Science Fiction,ant-man and the wasp: quantumania*,NaN
2,NaN,nan,unknown,unknown,Science Fiction Adventure Action,guardians of the galaxy vol. 3*,NaN
3,NaN,nan,unknown,unknown,Action Thriller Crime,john wick: chapter 4*,NaN
4,NaN,nan,unknown,unknown,Drama Action,creed iii*,NaN
...,...,...,...,...,...,...,...
181,Scott Waugh,Jason Statham,50 Cent,Megan Fox,Action Adventure Thriller War,the expendables 4,Jason Statham 50 Cent Megan Fox Scott Waugh Ac...
182,Jeymes Samuel,LaKeith Stanfield,Omar Sy,RJ Cyler,History Drama,the book of clarence,LaKeith Stanfield Omar Sy RJ Cyler Jeymes Samu...
183,Ethan Coen,Margaret Qualley,Geraldine Viswanathan,Beanie Feldstein,Crime Comedy,drive-away dolls,Margaret Qualley Geraldine Viswanathan Beanie ...
184,Cal Brunker,Cal Brunker (director); Mckenna Grace,Taraji P. Henson,Marsai Martin,Animation Family Comedy,paw patrol: the mighty movie,Cal Brunker (director); Mckenna Grace Taraji P...
185,Gareth Edwards,John David Washington,Gemma Chan,Ralph Ineson,Science Fiction Action Thriller,the creator,John David Washington Gemma Chan Ralph Ineson ...

In [46]:
my_df = new_df22.append(new_df23,ignore_index=True)

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\2867938759.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_df = new_df22.append(new_df23,ignore_index=True)

In [47]:
my_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Simon Kinberg,Jessica Chastain,Lupita Nyong'o,PenÃ©lope Cruz,Action Thriller,the 355,Jessica Chastain Lupita Nyong'o PenÃ©lope Cruz ...
1,Patricia Harris Seeley,Autumn Reeser,Antonio Cupo,Danny Trejo,Family Animation Fantasy Horror,the legend of la llorona,Autumn Reeser Antonio Cupo Danny Trejo Patrici...
2,Asif Akbar,Mickey Rourke,Michael Jai White,unknown,Action Crime Thriller,the commando,Mickey Rourke Michael Jai White unknown Asif A...
3,Edward Drake,Timothy V. Murphy,Bruce Willis,unknown,Action Adventure Thriller,american siege,Timothy V. Murphy Bruce Willis unknown Edward ...
4,"Matt Bettinelli-Olpin, Tyler Gillett",Melissa Barrera,Mason Gooding,Jenna Ortega,Horror Mystery Thriller,scream,Melissa Barrera Mason Gooding Jenna Ortega Mat...
...,...,...,...,...,...,...,...
410,Scott Waugh,Jason Statham,50 Cent,Megan Fox,Action Adventure Thriller War,the expendables 4,Jason Statham 50 Cent Megan Fox Scott Waugh Ac...
411,Jeymes Samuel,LaKeith Stanfield,Omar Sy,RJ Cyler,History Drama,the book of clarence,LaKeith Stanfield Omar Sy RJ Cyler Jeymes Samu...
412,Ethan Coen,Margaret Qualley,Geraldine Viswanathan,Beanie Feldstein,Crime Comedy,drive-away dolls,Margaret Qualley Geraldine Viswanathan Beanie ...
413,Cal Brunker,Cal Brunker (director); Mckenna Grace,Taraji P. Henson,Marsai Martin,Animation Family Comedy,paw patrol: the mighty movie,Cal Brunker (director); Mckenna Grace Taraji P...
414,Gareth Edwards,John David Washington,Gemma Chan,Ralph Ineson,Science Fiction Action Thriller,the creator,John David Washington Gemma Chan Ralph Ineson ...

In [48]:
old_df = pd.read_csv('data2021.csv')

In [49]:
old_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
37504,Matthew Vaughn,Ralph Fiennes,Gemma Arterton,Rhys Ifans,Action Adventure Thriller War Mystery,the king's man,Ralph Fiennes Gemma Arterton Rhys Ifans Matthe...
37505,Joel Coen,Denzel Washington,Frances McDormand,Bertie Carvel,Drama War,the tragedy of macbeth,Denzel Washington Frances McDormand Bertie Car...
37506,Denzel Washington,Michael B. Jordan,ChantÃ© Adams,Jalon Christian,Drama Romance,a journal for jordan,Michael B. Jordan ChantÃ© Adams Jalon Christian...
37507,Erwin brothers,Zachary Levi,Anna Paquin,Dennis Quaid,Drama,american underdog,Zachary Levi Anna Paquin Dennis Quaid Erwin br...
37508,Apichatpong Weerasethakul (director/acreenplay...,Apichatpong Weerasethakul (director/acreenplay...,Elkin DÃ­az,Jeanne Balibar,Drama,memoria,Apichatpong Weerasethakul (director/acreenplay...

In [50]:
final_df = old_df.append(my_df,ignore_index=True)

C:\Users\Rahul\AppData\Local\Temp\ipykernel_30632\2046453413.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_df = old_df.append(my_df,ignore_index=True)

In [51]:
final_df

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
37919,Scott Waugh,Jason Statham,50 Cent,Megan Fox,Action Adventure Thriller War,the expendables 4,Jason Statham 50 Cent Megan Fox Scott Waugh Ac...
37920,Jeymes Samuel,LaKeith Stanfield,Omar Sy,RJ Cyler,History Drama,the book of clarence,LaKeith Stanfield Omar Sy RJ Cyler Jeymes Samu...
37921,Ethan Coen,Margaret Qualley,Geraldine Viswanathan,Beanie Feldstein,Crime Comedy,drive-away dolls,Margaret Qualley Geraldine Viswanathan Beanie ...
37922,Cal Brunker,Cal Brunker (director); Mckenna Grace,Taraji P. Henson,Marsai Martin,Animation Family Comedy,paw patrol: the mighty movie,Cal Brunker (director); Mckenna Grace Taraji P...
37923,Gareth Edwards,John David Washington,Gemma Chan,Ralph Ineson,Science Fiction Action Thriller,the creator,John David Washington Gemma Chan Ralph Ineson ...

In [52]:
final_df.isna().sum()

director_name    23
actor_1_name      0
actor_2_name      0
actor_3_name      0
genres            0
movie_title       0
comb             23
dtype: int64

In [53]:
final_df = final_df.dropna(how='any')

In [54]:
final_df.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [55]:
final_df.to_csv('data2023.csv',index=False)